@import './typography.css';
@import './colors.css';
@import './layout.css';
@import './header.css';
@import './footer.css';
@import './spacing.css';
@import './base.css';
@import './design.css';
@import './glass.css';
@import './animations.css';

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
